body {
  background-color: #F5F1EE;
}


footer {
  text-align: center;
  margin: 30px 0;
}

::selection {
	color: #000000;
	background-color: #9855fc;
}

/* for firefox */
::moz-selection {
	color: #000000;
	background-color:#9855fc;
}